body {
  font-family: Arial;
  padding: 20px;
  text-align: center;
}

video {
  width: 90%;
  border: 2px solid #444;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}

#cardResult img {
  width: 200px;
  margin-top: 10px;
}
